{% extends 'main/base.html' %}

{% block title %}
Page not Found
{% endblock %}
{% block pagetitle %}
Page Not Found
{% endblock %}

{% block content %}
<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
    <div class="admin-content analysis-progrebar-ctn res-mg-t-15">
        <h4 class="text-left text-uppercase"><b>Orders</b></h4>
        <div class="row vertical-center-box vertical-center-box-tablet">
           
            <div class="col-xs-9 cus-gh-hd-pro">
                <h2 style="position: absolute; left:50%">{{ls}} Page Not Found</h2>
            </div>
        </div>
        
    </div>
</div>
{% endblock %}