{% load static %}
<div class="left-sidebar-pro">
    <nav id="sidebar" class="">
        
        <div class="nalika-profile">
            <div class="profile-dtl">
                <a href="/"><img src="{% static 'img/aulogo.png' %}" alt="" /></a>
                <span class="min-dtn"><h2>Smart</h2>
                    <h2>Energy</h2>
                <h2>Monitoring</h2>
                </span>
            </div>
        </div>
        <hr class="sidebar-divider d-none d-md-block">
        <div class="left-custom-menu-adp-wrap comment-scrollbar">
            <nav class="sidebar-nav left-sidebar-menu-pro">
                <ul class="metismenu" id="menu1">
                    <li class="active">
                        <a class="has-arrow" href="">
                               <i class="fa fa-university"></i>
                               <span class="mini-click-non">Test Sites</span>
                            </a>
                        <ul class="submenu-angle" aria-expanded="true">
                            <li><a title="FMC" href="/site1"><span class="mini-sub-pro">FMC</span></a></li>
                            <li><a title="IAA" href="/site2"><span class="mini-sub-pro">IAA</span></a></li>
                            <li><a title="Mechatronics" href="/site3"><span class="mini-sub-pro">MTS</span></a></li>
                            
                        </ul>
                    </li>
                    
                    <li>
                        <a class="has-arrow" href="mailbox.html" aria-expanded="false"><i class="fa fa-bar-chart"></i> <span class="mini-click-non">Data Tables</span></a>
                        <ul class="submenu-angle" aria-expanded="false">
                            <li><a title="Peity Charts" href=""><span class="mini-sub-pro">Static Table</span></a></li>
                            <li><a title="Data Table" href=""><span class="mini-sub-pro">Data Table</span></a></li>
                        </ul>
                    </li>
                    
                    <li id="removable">
                        <a class="has-arrow" href="#" aria-expanded="false"><i class="fa fa-file"></i> <span class="mini-click-non">Pages</span></a>
                        <ul class="submenu-angle" aria-expanded="false">
                            <li><a title="Login" href="/login"><span class="mini-sub-pro">Login</span></a></li>
                            <li><a title="Register" href="/register"><span class="mini-sub-pro">Register</span></a></li>
                            <li><a title="Lock" href="/logout"><span class="mini-sub-pro">Log Out</span></a></li>
                            
                        </ul>
                    </li>
                    <hr class="sidebar-divider d-none d-md-block">
                   
                   
                </ul>
            </nav>
        </div>
        <!-- Divider -->
            <!-- Sidebar Toggler (Sidebar) -->
            
    </nav>
</div>
